<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />
    </configSections>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets async="true">
            <target name="Default"
                    xsi:type="File"
                    encoding="utf-8"
                    layout="${longdate} [${uppercase:${level}}] ${logger} ${message}"
                    fileName="${specialfolder:folder=CommonApplicationData}\CubeSoft\CubeVP\Log\${processname}.log"
                    keepFileOpen="true"
                    concurrentWrites="true"
                    maxArchiveFiles="5"
                    archiveAboveSize="1000000"
                    archiveEvery="None" />
        </targets>
        <rules>
            <logger name="*" minLevel="Debug" writeTo="Default" />
        </rules>
    </nlog>

    <runtime>
        <generatePublisherEvidence enabled="false" />
    </runtime>

    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" />
        <supportedRuntime version="v2.0.50727" />
    </startup>
</configuration>